.CountDownDiv {
    display: flex;
}

.countdown p {
    color: #cf6c18; 
    font-size: 1.5em;
    margin-bottom: 10%; 
}

.timeDots {
    color: #fff;
}

.expired-notice {
    text-align: center;
    padding: 2rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    margin: 0.5rem;
}
  
.expired-notice > span {
    font-size: 2.5rem;
    font-weight: bold;
    color: red;
}
  
.expired-notice > p {
    font-size: 1.5rem;
}
  
.show-counter {
    padding: 0.5rem;
}
  
.show-counter .countdown-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.5rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #000;
}
  
.show-counter .countdown {
    line-height: 1.25rem;
    padding: 0 0.75rem 0 0.75rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
  
.show-counter .countdown.danger {
    color: #ff0000;
}
  
.show-counter .countdown > span {
    text-transform: uppercase;
    color: #fff;
    font-size: 1em;
    line-height: 1rem;
}

@media screen and (min-width: 319px) and (max-width: 767px){
    .countdown p {
        font-size: 1em;
    }

    .countdown span {
        font-size: 12px !important;
    }
}